body{
    display: flex;
}
#container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 480px;
max-height: 480px;
min-height: 480px;
min-width: 480px;


}
.verticalGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
 
}
.horizontalGrid {
    display: flex;
    scale: auto;
    width: 100%;
    height: 100%;
  
}
.color {
    background-color: black;
}